@import url("./header.css");
@import url("./footer.css");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 3% 0 8% 0;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10%;
}

.formulario {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
}

.radio-group label {
  margin-right: 20px;
}

.formulario input[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao-apagado,
.botao-ativo {
  display: block;
  margin-top: 10px;
  padding: 15px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  width: 40%;
}

.botao-ativo {
  background-color: #4caf50;
}

/* Media Queries */

@media (max-width: 992px) {
  .main-container {
    padding: 10px;
    padding-bottom: 60px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario input[type="tel"] {
    padding: 8px;
  }

  .formulario input[type="submit"] {
    font-size: 14px;
  }
}

@media (max-width: 790px) {
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario input[type="tel"] {
    width: 100%;
    padding: 8px;
  }

  .main-container {
    padding: 10px;
    padding-bottom: 150px;
  }
}

@media (max-width: 576px) {
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario input[type="tel"] {
    width: 100%;
    padding: 8px;
  }

  .main-container {
    padding: 10px;
    padding-bottom: 150px;
  }
}
