@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("./breakpoint.css");
@import url("./botao.css");
@import url("./card.css");
@import url("./header.css");
@import url("./footer.css");

body {
  margin: 0;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
}

main {
  padding: 6%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
