*{
    margin: 0;
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8FBC8F;
    height: 100%;
    width: 100%;
}

header nav {
    margin-top: 1%;
    height: 80px;
}

header nav button:hover{
    background-color: white;
}

header img{
    width: 150px;
    border: 0;
}

.container{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;    
    height: 1200px;
}
.card{
    width: 25%;
    height: 70%;
    border: solid 1px black;
    background-color: #8FBC8F;
}

.card h2{
    margin-top: 2%;
    text-align: center;
}

.notes{
    margin: 4%;
    background-color: white;
    width: 90%;
    height: 10%;
    text-align: center;
    padding-top: 7%;
    border-radius: 10%;
}

.notes button{
    width: 100%;
    height: 100%;
    border: 0;
}