@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("./breakpoint.css");

* {
  box-sizing: border-box;
  font-size: 4vmin;
  font-family: Dosis, Helvetica, Arial, sans-serif;
}
#nome {
  margin-left: 1em;
  font-size: 1.2em;
  font-family: "Caveat Brush", cursive;
}

.verde {
  color: green;
  font-family: "Caveat Brush", cursive;
  font-size: 1em;
}

.body {
  color: rgb(0, 0, 0);
  min-height: 80vh;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
.w100 {
  width: 100%;
}

.tabs.w100 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.t1 {
  font-size: 2em;
}

.wrapper {
  margin: 2vmin 10vmin 0 10vmin;
  display: flex;
  place-content: center;
}

.container {
  position: relative;
  display: flex;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: -0.5em 1em 2em rgba(0, 0, 0, 0.5);
  height: 80%;
  border-radius: 1em;
  width: 17em;
}

.container > input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.content {
  background: linear-gradient(
    45deg,
    rgb(180, 240, 180),
    rgb(140, 220, 140),
    rgb(100, 200, 100)
  );
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 15vmin;
  align-items: center;
}

.field {
  position: relative;
  margin-bottom: 0.5em;
}

.field > input,
form > button {
  border: none;
  background: none;
  outline: none;
  color: rgb(0, 0, 0);
}
.field > input {
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-indent: 1.5em;
}
.field.small {
  margin: 1em 15% 0.5em 15%;
  font-size: 0.5em;
}
.field.small a {
  font-size: 1em;
  color: rgb(0, 0, 0);
}

button {
  position: relative;
  cursor: pointer;
  margin-top: 0.5em;
  padding: 5px;
}

button > .icon {
  width: 0%;
  left: 100%;
  transition: all 0.5s;
}

button:hover > .icon {
  width: 1em;
}

.icon,
.icon-eye {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  position: absolute;
  bottom: 0.2em;
  left: 0;
}
.icon-eye {
  cursor: pointer;
  left: 100%;
}

.svg-icons {
  display: none;
}

input:required + .icon {
  transition: all 1s;
}
input:required:invalid {
  box-shadow: none;
  outline: none;
}
input:required:invalid:focus + .icon {
  fill: red;
  box-shadow: inset 0 0 1em 1em rgba(0, 0, 0, 0.7);
  border-radius: 0.25em;
}
input:required:valid + .icon {
  fill: greenyellow;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

input:focus::-webkit-input-placeholder {
  transform: translateY(-10px);
  font-size: 0.5em;
}

input:focus::-moz-placeholder {
  font-size: 0.5em;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  height: 2em;
  z-index: 1;
  text-align: center;
}
